.numberCircle {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    padding: 8px;
    background: lightgreen;
    border: 2px solid #666;
    color: rgb(17, 99, 6);
    text-align: center;
    font: 32px Arial, sans-serif;
  }