.mat-table {
  overflow: scroll;
}

.mat-row,
.mat-header-row {
  min-width: 1000px;
  width: 100%;
  width: max-content;
}

.mat-column-right {
    text-align: center;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}