
<div class="jumbotron text-center">
  <h1>Issue Tracking Application</h1>
  <p class="lead">A "M-E-A-N" stack application with JSON web token authentication deployed on Heroku</p>
  <p class="lead">Resttful API's implemented for all CRUD operations performed on MongoDB</p>
</div>

<h3>What goes into making this Application:</h3>
<mat-divider></mat-divider>
<p></p>
<div [@listAnimation]="techItems.length">
    <ul style="list-style-type:none">
        <li class="list-logo" *ngFor="let item of techItems">
            <img [src]="item.img_src" [alt]="item.alt">&nbsp;
            <h4>{{ item.heading }} : {{ item.desc }}</h4>&nbsp;
        </li>
    </ul>
</div>
