<div class="row" style="margin-top:50px">
<div class="col-md-4">
  <img src="assets/images/profilepic.jpg" alt="profilepic">
</div>
<div class="col-md-4">
  <h3>Name: <strong>Mohammed Saud Moosa</strong></h3>
  <h3>E-Mail: <strong>saud.elex@gmail.com</strong></h3>
  <h3>Mobile No: <strong>+91-8879101202</strong></h3>
</div>
</div>
<mat-divider></mat-divider>
<table>
  <tr>
      <td>      
      <div>
      <p>&nbsp;</p>
      <h3><span style="background-color: #999999;">&nbsp;SUMMARY&nbsp;&nbsp;&nbsp;</span></h3>
      <hr />
      <p>&nbsp;</p>
      <ul>
      <li><strong>9 Years</strong> of experience in <strong>Finance/Accounting</strong> domain projects. Currently working with <strong>BNY Mellon Technology &ndash; Pune</strong> as<strong> Technical Lead</strong></li>
      </ul>
      <ul>
      <li><strong>Hands on Experience </strong>using Python, Javascript, Angular, VBScripts, HP QTP (UFT) and SAFAL (Selenium based tool developed by SunGard).</li>
      <li><strong>Eagle Developer</strong> for UI Panel logic and Database side Table/Proc changes in Oracle DB</li>
      <li><strong>Functional testing</strong> of software products supporting OTC Derivatives, Fund Accounting</li>
      <li>Worked under <strong>SAFE</strong> <strong>Agile, SCRUM and Waterfall</strong> methodologies.</li>
      <li>Involved in the complete life &ndash; <strong>Plan, Design, Execution, Reporting</strong> and <strong>Maintenance</strong>.</li>
      <li>Received multiple <strong>Recognitions</strong> for Automating complex processes that reduced the time and efforts spent on activities performed daily.</li>
      </ul>
      <p>&nbsp;</p>
      <h3>&nbsp;</h3>
      <h3><span style="background-color: #999999;">&nbsp;EXPOSURE TO LATEST TECHNOLOGIES&nbsp; &nbsp;&nbsp;</span></h3>
      <hr />
      <h3>&nbsp;</h3>
      <p>Developed an Issue Logging application with <strong>MEAN</strong> stack technologies</p>
      <p>&nbsp;</p>
      <p><strong>Working App</strong> deployed @ <a href="https://saudmoosa-mean-practice.herokuapp.com/">https://saudmoosa-mean-practice.herokuapp.com/</a></p>
      <p>&nbsp;</p>
      <p>The Code is made public on <strong>GIT HUB</strong> and Hosted on <strong>Heroku</strong> with Continuous Integration.</p>
      <p><strong>GIT HUB</strong> code @ <a href="https://github.com/saudmoosa/saudmoosa-mean-training-app">https://github.com/saudmoosa/saudmoosa-mean-training-app</a></p>
      <p>&nbsp;</p>
      <ul>
      <li>The app uses <strong>js &ndash; Express</strong> framework on the server side.</li>
      <li><strong>Angular 6</strong> as the frontend framework.</li>
      <li><strong>MongoDB</strong> as a cloud based database managed by MLabs.</li>
      <li><strong>Passport</strong> authentication middleware for Node.js with <strong>JSON web tokens</strong></li>
      <li><strong>js </strong>which is an open source library of JavaScript animated, interactive charts.</li>
      </ul>
      <p>&nbsp;</p>
      <p>Restful API&rsquo;s are implemented for all CRUD operations performed on MongoDB.</p>
      <p>&nbsp;</p>
      <p><u>Note</u>: Either register as new user or use Guest Login to use the application as password authentication is implemented.</p>
      <p>&nbsp;</p>
      <h3><span style="background-color: #999999;">&nbsp;SKILLS OVERVIEW&nbsp;&nbsp;&nbsp;</span></h3>
      <hr />
      <p>&nbsp;</p>
      <table border="1">
      <tbody>
      <tr>
      <td width="140">
      <p><strong>Technical Skills</strong></p>
      </td>
      <td>
      <p>JavaScript, VBScript, Python, Unix, SQL Oracle DB, Web Service</p>
      </td>
      </tr>
      <tr>
      <td width="140">
      <p><strong>Tools Used</strong></p>
      </td>
      <td>
      <p>Visual Studio Code, Team Foundation Server (TFS), QTP (UFT), SAFAL (Selenium based automation tool), Quality Center 11, SqlDeveloper, Bugzilla v2.22, JIRA, RUMBA v7.2, POSTMAN (Google Chrome), SOAPUI</p>
      </td>
      </tr>
      </tbody>
      </table>
      <h3>&nbsp;</h3>
      <h3><span style="background-color: #999999;">&nbsp;EDUCATION QUALIFICATIONS / CERTIFICATIONS&nbsp;&nbsp;&nbsp;</span></h3>
      <hr />
      <p>&nbsp;</p>
      <ul>
      <li><strong>MBA</strong> in Information Systems - Distance from Sikkim Manipal University (75% aggregate) April 2014</li>
      <li><strong>B.E.</strong> in Electronics - M.H. Saboo Siddik College of Engg, Mumbai, Mumbai University (62.12% - 4 year aggregate) May 2009</li>
      <li><strong>HSC</strong> - Bhavan&rsquo;s College (Andheri), Mumbai University (77.33%) Feb 2005</li>
      <li><strong>SSC</strong> - ST. John&rsquo;s High School, Mumbai University (85.33%) April 2003</li>
      <li><strong>ISTQB</strong> Foundation Level Certified, (82.5%) Feb 2011</li>
      </ul>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h3><span style="background-color: #999999;">&nbsp;PERSONAL DETAILS&nbsp;&nbsp;&nbsp;</span></h3>
      <hr />
      <p>&nbsp;</p>
      <table border="1">
      <tbody>
      <tr style="height: 35px;">
      <td style="height: 35px;" width="158">
      <p><strong>Name</strong></p>
      </td>
      <td style="height: 35px;">
      <p>Mohammed Saud Moosa</p>
      </td>
      </tr>
      <tr style="height: 37px;">
      <td style="height: 37px;" width="158">
      <p><strong>DOB</strong></p>
      </td>
      <td style="height: 37px;">
      <p>April 10<sup>th</sup> 1987</p>
      </td>
      </tr>
      <tr style="height: 35.8906px;">
      <td style="height: 35.8906px;" width="158">
      <p><strong>Marital Status</strong></p>
      </td>
      <td style="height: 35.8906px;">
      <p>Married</p>
      </td>
      </tr>
      <tr style="height: 35px;">
      <td style="height: 35px;" width="158">
      <p><strong>Permanent Address</strong></p>
      </td>
      <td style="height: 35px;">
      <p>B 702 Notting Hill, S.No 23, Near D Mart, Kondhwa Budruk, Pune-411048</p>
      </td>
      </tr>
      </tbody>
      </table>
      <p><strong>&nbsp;</strong></p>
      <h3>&nbsp;</h3>
      <h3><span style="background-color: #999999;">&nbsp;PROJECT PROFILE&nbsp;&nbsp;&nbsp;</span></h3>
      <hr />
      <p>&nbsp;</p>
      <p><strong><u>Organization &ndash; BNY Mellon Technology</u></strong></p>
      <p><strong>&nbsp;</strong></p>
      <p><strong>Project: </strong>Eagle Investment Systems &ndash; R&amp;D Team</p>
      <p><strong>Duration</strong>: Oct 2016 till date | <strong>Team Size: </strong>15&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p><strong>Designation:</strong> Technical Lead</p>
      <p>&nbsp;</p>
      <p>The Fixed Income team under R&amp;D of Investment Accounting Solutions focuses on the Fund Accounting of Fixed Income securities. Their daily Income Accruals and Corporate action effects are calculated and reported under various reports of Income, Cost, Cash and Ledger. Panels hold logic and are coded for User Interaction and handling data from external inputs like Message Center. The effects of code change are monitored using a SMART Regression tool.</p>
      <p>&nbsp;</p>
      <p><strong>Projects worked on:</strong></p>
      <ul>
      <li>Eagle developer for creating Panel logic for projects like Hypothetical Sell and Interest Only Income Enhancement and responsible for Database side Table/Proc changes in Oracle DB</li>
      <li>Automated Daily Regression result analysis using Python scripts. The scripts analyze reports that produce a mismatch against the baseline after each build of the Star accounting engine</li>
      <li>Created a Tool with interactive UI to migrate Data across test environments after running transformations on the data so that it is fit for the target environment.</li>
      <li>Worked on an enhancement for accounting the off cycle Paydowns of Mortgage Backed Securities</li>
      </ul>
      <p><strong><u>&nbsp;</u></strong></p>
      <p><strong><u>Organization &ndash; HCL Technologies</u></strong></p>
      <p><strong>&nbsp;</strong></p>
      <p><strong>Client: </strong>Nomura</p>
      <p><strong>Project: </strong>Phoenix Confirm Tracking</p>
      <p><strong>Duration</strong><strong>:</strong> June 2014 &ndash; Sep 2016 | <strong>Team Size: </strong>12&nbsp;&nbsp;&nbsp;</p>
      <p>&nbsp;</p>
      <p>Phoenix Confirm Tracker is used to manage OTC Regulatory confirmations with counterparties by sending SWIFT messages or paper based confirmations using Thunderhead. The asset classes involved are Derivatives of Equities, FX, Rates and Credit. The application connects with other systems for Trade enrichment, generating confirmation, distribution of messages to counterparties and settlement systems.</p>
      <p><strong>&nbsp;</strong></p>
      <p><strong>Main Responsibilities:</strong></p>
      <ul>
      <li>Creating Automation scripts using QTP for regression. Created Keyword based Automation Framework in QTP</li>
      <li>Validating Web services using SOAPUI and Test case creation and execution in QC. Raising and tracking issues in JIRA</li>
      <li>Coordinating with application users for UAT to be performed</li>
      </ul>
      <p><strong><u>&nbsp;</u></strong></p>
      <p><strong><u>Organization - SunGard Global Services</u></strong></p>
      <p><strong>&nbsp;</strong></p>
      <p><strong>Duration</strong>: May 2012 &ndash; June 2014 <strong>| Team Size: </strong>15</p>
      <p><strong>&nbsp;</strong></p>
      <p><strong>Project: </strong>Control Center InvestOne Integration</p>
      <p>The project involved integration of a workflow management segment product with the fund accounting product InvestOne. RESTful web services were used to integrate the two products. Reports related to Book keeping, Reconciliation, Pricing, NAV Impact were and exceptions management system were tested.</p>
      <p><strong>&nbsp;</strong></p>
      <p><strong>Project: </strong>Performance Fee Calculation of Mutual Funds</p>
      <p>The Performance Fee was calculated by comparing the out performance of the fund with the performance of any Index or with a specified Hurdle Rate such Libor. The calculation of taxes and their accounting effects were tested for different methods. Newer UI was designed using Angular JS.</p>
      <p>&nbsp;</p>
      <p><strong>Main Responsibilities:</strong></p>
      <ul>
      <li>Automation Testing scripting using SAFAL (Selenium based tool developed by SunGard)</li>
      <li>Web service testing for RESTful services using POSTMAN from Google.</li>
      <li>Test case creation and execution. Raising and tracking issues</li>
      </ul>
      <p>&nbsp;</p>
      <p><strong><u>Organization - IGate</u></strong></p>
      <p>&nbsp;</p>
      <p><strong>Duration</strong><strong>:</strong> Jan 2010 &ndash; May 2012</p>
      <p><strong>Client: </strong>Fidelity Investments, USA</p>
      <p>&nbsp;</p>
      <p>The project aims for a makeover of NetBenefits a retirement solution provider of Fidelity Investments, USA. Testing of logic behind offering retirement plans to employee that used Fidelity services to manage their contribution or retirement benefits. These plans were offered based on the Life events of the employee.</p>
      <p><strong>&nbsp;</strong></p>
      <p><strong>Main Responsibilities:</strong></p>
      <ul>
      <li>Design test cases from Stories and executing them in Quality Center</li>
      <li>Co-ordinate with the Scrum team in the Iteration planning meeting and create the QA tasks in RTC, estimation and work allocation</li>
      </ul>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>I hereby assure that the above-furnished details are true to the best of my knowledge.</p>
      </div>
    </td>
  </tr>
</table>